.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background: var(--navbar);
  border: 1px solid black;
  transition: 0.2s;
}

.card-head {
  height: 200px;
}

.img-card {
  width: 100%;
  height: 100%;
}

.card-body {
  height: 200px;
  padding: 5px 10px;
  border-top: 1px solid black;
}

.card-footer {
  display: flex;
  padding: 10px;
}
