.cube {
  transform-style: preserve-3d;
  animation: spin 100s infinite linear;
  position: relative;
  --cube-size: 80px;
  --cube-side: 40px;
  width: var(--cube-size);
  height: var(--cube-size);
  margin: var(--cube-size) auto;
}

.cube div {
  width: var(--cube-size);
  height: var(--cube-size);
  line-height: var(--cube-size);
  text-align: center;
  box-shadow: inset 0px 0px 0px 1px rgba(10, 0, 0, 0.8);
  display: block;
  position: absolute;
}

.cube div.top {
  transform: rotateX(90deg);
  margin-top: calc(-1 * var(--cube-side));
  background: rgba(0, 255, 0, 0.5);
}

.cube div.right {
  transform: rotateY(90deg);
  margin-left: var(--cube-side);
  background: rgba(0, 255, 255, 0.6);
}

.cube div.bottom {
  transform: rotateX(-90deg);
  margin-top: var(--cube-side);
  background: rgba(255, 0, 0, 0.6);
}

.cube div.left {
  transform: rotateY(-90deg);
  margin-left: calc(-1 * var(--cube-side));
  background: rgba(125, 0, 255, 0.6);
}

.cube div.front {
  transform: translateZ(var(--cube-side));
  background: rgba(255, 125, 0, 0.6);
}

.cube div.back {
  transform: translateZ(calc(-1 * var(--cube-side))) rotateX(180deg);
  background: rgba(255, 125, 125, 0.6);
}

@keyframes spin {
  0% {
    transform: rotateX(-20deg) rotateY(0deg * sin(0));
  }
  100% {
    transform: rotateX(-2000deg) rotateY(3600deg);
  }
}
