@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background: #464e56;
  --text: #fff;
  --border: black;
  --transition-time: 1s;
}

.light-theme {
  --background: #fff6ea;
  --text: rgba(0, 0, 0, 0.9);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body,
#root {
  width: 100%;
  background-color: var(--background);
  transition: var(--transition-time);
  color: var(--text);
}
