@import url("https://fonts.cdnfonts.com/css/pok");

.pokemon-card {
  margin: 20px auto;
  width: 250px;
  --border-pokemon: #0a285f;
  border: 10px solid var(--border-pokemon);
  background-color: #ffcc00;
  border-radius: 15px;
  color: #000;
  box-shadow: -10px 10px 0px black;
  text-align: center;
}

.pokemon-card-head {
  padding: 0 10px;
  width: 100%;
  border-bottom: 2px solid var(--border-pokemon);
}

.pokemon-card-body-div {
  font-family: "Pokemon Solid", sans-serif;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-card-footer {
  padding: 10px;
}

.pokemon-card-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.pokemon-card-buttons button {
  font-family: "Pokemon Solid", sans-serif;
  background: #d5a100;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-pokemon);
  border-radius: 8px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: -2px 2px 0px black;
  user-select: none;
}

.pokemon-card-buttons button:hover {
  background-color: var(--border-pokemon);
  color: #ffcc00;
  transform: scale(0.98);
}

@media (min-width: 500px) {
  .pokemon-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
  }

  .pokemon-card-head {
    height: 150px;
  }

  .pokemon-card-body-div {
    font-size: 1.2rem;
  }

  .pokemon-card-footer {
    padding: 20px;
  }
  .pokemon-card-buttons button {
    font-size: 1.1rem;
  }
}
